<h1>Liste des geeks</h1>
<br>
<div>
<fieldset>
	<table data-fn="contacts">
		<tr style="text-align:center;">
			<th>ID</td>
			<th>Nom</td>
			<th>Prenom</td>
			<th>Email</td>
			<th>Sexe</td>
			<th>Action</td>
			
		</tr>
		<tr ng-repeat="geek in Geeks | filter:filtrer" style="text-align:center;">
			<td>{{ geek.id }}</td>
			<td>{{ geek.nom }}</td>
			<td>{{ geek.prenom }}</td>
			<td>{{ geek.email}}</td>
			<td>{{ geek.sexe}}</td>
			<td><a href="#/geeks/{{ geek.id }}">
			<button class="btn" type="button" >Detail</button></a></td>
		</tr>
	</table>
	</fieldset>
<br>
</div>
<div style="text-align:center;"><a href="#/search" ><button type="button" class="btn btn-default btn-success">Rechercher des geeks</button></a></div>
