<h2>Formulaire de recherche</h2>
	<form action="#">
	  <fieldset>
	    <legend>Criteres</legend>
	      <label for="sexe">Sexe</label>
	      <select id="sexe">
	        <option value="F" name="sexe">Femme</option>
	        <option value="H" name="sexe">Homme</option>
	      </select><br>
	      <label for="interet">Interets</label>
	      <select id="interet">
	      	<option value="0" >Aucun</option>
	        <option value=vba" name="interet">VBA</option>
	        <option value="java" name="interet">JAVA</option>
	        <option value="junit" name="interet">JUnit</option>
	      </select><br>
	      <p><input type="submit" value="Soummettre"></p>
	  </fieldset>
	</form>
	
	<div style="text-align:center;"><a href="/" ><button type="button" class="btn btn-default btn-success">Liste des geeks</button></a></div>